{{partial colorPickerButtonPartial}}
{{#if shouldOpenPicker}}
  <div class="dropdown open">
    <div {{bind-attr class=":dropdown-menu :color-picker-dropdown dropdownClass"}}
      role="menu" aria-labelledby="dLabel">
      {{#each row in colorRows}}
        <div class="color-row clearfix">
          {{#each color in row}}
            {{view Ember.Widgets.ColorPickerCell
              colorBinding = "color"
             }}
          {{/each}}
        </div>
        <hr>
      {{/each}}
        <form {{bind-attr class=":color-picker-custom-form isCustomColorValid:valid:invalid"}}>
          <div class="input-group">
            <span {{bind-attr class=":input-group-addon
              :color-picker-custom-preview isCustomColor:active"
              style="customColorCSS"}} {{action "sendCustomColor"}}></span>
            {{view Ember.TextField valueBinding="customColor"
              class="form-control input-sm"
              type="text"
              placeholder="HEX code"
            }}
          </div>
        </form>
    </div>
  </div>
{{/if}}

