<div class="btn-group">
  <button type="button" {{bindAttr class="buttonClass :ember-widget-color-button"}}>
    {{view Ember.Widgets.ColorPickerCell
      colorBinding ='selectedColor'
      classNames='color-picker-cell'
    }}
  </button>
  <button type="button" {{bindAttr class=":dropdown-toggle buttonClass"}} data-toggle="dropdown">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <div {{bindAttr class=":dropdown-menu dropdownClass"}} role="menu">
    {{#each row in colorRows}}
      <div class="color-row clearfix">
        {{#each color in row}}
          {{view Ember.Widgets.ColorPickerCell
            colorBinding ='color'
            classNames='color-picker-cell'
           }}
        {{/each}}
      </div>
    {{/each}}
  </div>
</div>
