<div class="dropdown">
  <a data-toggle="dropdown" href="#">
    {{view Ember.Widgets.ColorPickerCell
      colorBinding ='selectedColor'
    }}
    <span class="fa fa-caret-down"></span>
  </a>
  <div {{bindAttr class=":dropdown-menu :color-picker-dropdown dropdownClass"}}
    role="menu" aria-labelledby="dLabel">
    {{#each row in colorRows}}
      <div class="color-row clearfix">
        {{#each color in row}}
          {{view Ember.Widgets.ColorPickerCell
            colorBinding = 'color'
           }}
        {{/each}}
      </div>
      <hr>
    {{/each}}
    <form class="color-picker-custom-form">
      <div class="form-group form-group-sm">
        <div class="input-group">
          <span {{bindAttr class=":input-group-addon
            :color-picker-custom-preview isCustomColor:active"
            style="customColorCSS"}}></span>
          {{view Ember.TextField valueBinding="customColor"
            class="form-control input-sm"
            type="text"
            placeholder="Custom HEX"
          }}
        </div>
      </div>
    </form>
  </div>
</div>
