<div class="ember-texteditor-toolbar">
  {{view Ember.Select
    contentBinding="fontNames"
    placeholder="Select a Font"
    selectionBinding="selectedFontName"
  }}

  {{view Ember.Select
    contentBinding="fontSizes"
    placeholder="Select Font Size"
    optionLabelPath="content.name"
    optionValuePath="content.size"
    valueBinding="selectedFontSize"
  }}

  <div class="btn-group" data-toggle="buttons">
    <label {{bindAttr class=":btn isBold:active"}}
      {{action "bold" on="mouseDown"}}>
      <i class="fa fa-bold"></i>
    </label>
    <label {{bindAttr class=":btn isItalic:active"}}
      {{action "italic" on="mouseDown"}}>
      <i class="fa fa-italic"></i>
    </label>
    <label {{bindAttr class=":btn isUnderline:active"}}
      {{action "underline" on="mouseDown"}}>
      <i class="fa fa-underline"></i>
    </label>
  </div>

  <div class="btn-group" data-toggle="buttons">
    <label {{bindAttr class=":btn isJustifyLeft:active"}}
      {{action "justifyLeft" on="mouseDown"}}>
      <i class="fa fa-align-left"></i>
    </label>
    <label {{bindAttr class=":btn isJustifyCenter:active"}}
      {{action "justifyCenter" on="mouseDown"}}>
      <i class="fa fa-align-center"></i>
    </label>
    <label {{bindAttr class=":btn isJustifyRight:active"}}
      {{action "justifyRight" on="mouseDown"}}>
      <i class="fa fa-align-right"></i>
    </label>
  </div>

  <div class="btn-group">
    <a class="btn add-factor-btn" unselectable="on" {{action "insertFactor" on="mouseDown"}}>
      <i class="fa-plus-circle"></i> Non Editable
    </a>
  </div>
</div>

{{!-- Empty text editor --}}
<div class="text-editor" contenteditable="true">
  <div>&nbsp;</div>
</div>
