<div class="dropdown open">
  <div class="dropdown-menu color-picker-dropdown {{dropdownClass}}"
    role="menu" aria-labelledby="dLabel">
    {{#each colorRows as |row|}}
      <div class="color-row clearfix">
        {{#each row as |color|}}
          {{color-picker-cell
            color=color
            selectedColor=selectedColor
            setColor="setColor"
          }}
        {{/each}}
      </div>
      <hr>
    {{/each}}
      <form {{action "setCustomColor" on="submit"}}
      class="color-picker-custom-form {{if isCustomColorValid 'valid' 'invalid'}}">
        <div class="input-group">
          <span class="input-group-addon
            color-picker-custom-preview {{if isCustomColor 'active'}}"
            style={{customColorCSS}} {{action "setCustomColor"}}>
          </span>
          {{input valueBinding="customColor"
            class="form-control input-sm"
            type="text"
            placeholder="HEX code"
          }}
        </div>
      </form>
  </div>
</div>
