{{#if view.content.isGroupOption}}
  <div {{action "toggleGroupHeader" view.content.name}} class="{{if view.isGroupHeaderCollapsible 'collapsible-group-header'}}">
    <i class={{if view.isGroupHeaderCollapsible (if view.content.isGroupHeaderCollapsed view.collapsedGroupHeaderIcon view.expandedGroupHeaderIcon)}}></i> {{view.content.name}}
  </div>
{{else}}
  {{#if view.titleOnOptions}}
    <span {{bind-attr title=view.label}}>
      {{view.label}}
    </span>
  {{else}}
    {{view.label}}
  {{/if}}
{{/if}}
