<div class="ember-select-container dropdown-toggle js-dropdown-toggle" {{action "toggleDropdown"}}>
  <a class="form-control ember-select-choice {{buttonClass}} {{if disabled 'disabled'}}
  {{if hasFocus 'ember-select-focus'}}">
    {{#if selection}}
      {{view selectedItemView content=selection selectComponent=this}}
      <i class={{view.dropdownToggleIcon}}></i>
    {{else}}
      <span>{{prompt}}</span>
      <i class={{view.dropdownToggleIcon}}></i>
    {{/if}}
  </a>
</div>
<div class="dropdown-menu js-dropdown-menu {{dropdownMenuClass}} {{if isDropdownMenuPulledRight 'pull-right'}}">
  {{#unless isSelect}}
    <div class="ember-select-search">
      {{view searchView selectComponent=this}}
    </div>
  {{/unless}}
  {{#if tabComponentName}}
    {{component tabComponentName selectComponent=this}}
  {{/if}}
  {{#if showDropdown}}
    {{partial listViewPartial}}
    {{#if isLoading}}
      <span class="ember-select-loading">Loading...</span>
    {{else if contentIsEmpty}}
      <div class="ember-select-empty-content">
        {{#if emptyContentView}}
          {{view emptyContentView selectComponent=this}}
        {{/if}}
      </div>
    {{else if hasNoResults}}
        <span class="ember-select-no-results">No results match "{{query}}"</span>
    {{/if}}
  {{/if}}
  {{#if selectMenuView}}
    {{view selectMenuView selectComponent=this}}
  {{/if}}
</div>
